
<section class="container">
    <section class="flex justify-center w-4/6 my-40 ">


        <div class="relative">


            <h1 class="absolute text-white uppercase text-9xl ">store</h1>
            <h1 class="absolute uppercase text-9xl text-cyan-500 my-wave">store</h1>

        </div>

        

    </section>
    <section class="py-10 text-center">
        <%= link_to '登入' , stores_path , class:" btn-big mx-4"%>
        <%= link_to '註冊' , stores_path , class:" btn-big mx-4"%>
    </section>

</section>





