<section class="flex justify-center w-2/3 my-40">


    <div class="relative">


        <h1 class="absolute text-white uppercase text-9xl ">store</h1>
        <h1 class="absolute uppercase text-9xl text-cyan-400 clipOne">store</h1>

    </div>


</section>

