<section class="container ">
    <div class="mb-5 text-2xl text-center text-white">

        <h1>商店詳情</h1>

    </div>

    <div class="bg-white rounded-md">
        <div class="py-5 text-center">

            <h2 class="text-xl"><%= @store.title%></h2>
            <div class="flex justify-center">
                <p class="m-5">電話：<%= @store.tel%></p>
                <p class="m-5">地址：<%= @store.address%></p>
            </div>
        
        </div>
        <div>
        
        
        </div>
    
    </div>






</section>

