    <nav class="flex justify-between w-full bg-orange-600 shadow-xl">
      <div class="p-5">
        <%= link_to 'STORE' , stores_path , class:"text-white text-xl"%>
      
      </div>
      <ul class="flex p-5 text-white">
        <% if user_signed_in? %>
          <li class="mx-5"><%= current_user.email%></li>
          <li class="mx-5"><%= link_to '登出', destroy_user_session_path, method: 'delete' %>    
        <% end %>
      </ul>
    </nav>