@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-200;
  }
}

*/

.btn{
  @apply px-3 py-2 text-center mb-4
}
.btn-big{
  @apply px-10 py-3 mb-4
}

.btn-disable {
  @apply text-white bg-orange-600 rounded-md cursor-pointer; 
}

.btn-primary{
  @apply text-white bg-gray-400 rounded-md cursor-pointer;
}



@keyframes wave {
  0% {
    clip-path: polygon(0% 38%, 21% 40% , 38% 51% , 54% 57% , 75% 57% , 100% 52% , 100% 100% , 0% 100%)  }
  50%{
    clip-path: polygon(0% 50%, 16% 55%, 38% 54%, 54% 51%, 73% 43%, 100% 40%, 100% 100%, 0% 100%)
  }
  100% {
    clip-path: polygon(0% 38%, 21% 40% , 38% 51% , 54% 57% , 75% 57% , 100% 52% , 100% 100% , 0% 100%)  
  }
}

.my-wave {
  animation: wave 2s ease-in-out infinite;
}



