@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-200;
  }
}

*/

.btn{
  @apply px-3 py-2 text-center mb-4
}

.btn-disable {
  @apply text-white bg-orange-600 rounded-md cursor-pointer;
}

.btn-primary{
  @apply text-white bg-gray-400 rounded-md cursor-pointer;
}

@layer utilities {

  .clipOne {

    clip-path: polygon(0% 55%, 5% 36%, 14% 28%, 29% 29%, 43% 36%, 49% 46%, 56% 54%, 62% 59%, 71% 64%, 78% 62%, 85% 56%, 95% 54%, 100% 58%, 100% 100%, 0 100%);

  }
  .clipTwo{
    clip-path: polygon(0% 51%, 14% 51%, 27% 54%, 43% 61%, 56% 65%, 66% 60%, 75% 52%, 90% 51%, 100% 50%, 100% 100%, 0% 100%);
  }
  .clipThree{
    clip-path: polygon(0 65%, 15% 67%, 28% 65%, 43% 61%, 55% 51%, 68% 42%, 83% 33%, 94% 28%, 100% 21%, 100% 100%, 0% 100%)
  }

}
